*{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto';
	font-weight: 100;
}
body{
	color: white;
	background-image: url('../images/sky_bg.jpg');
	background-size: 130% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
a{
	color: rgb(38,188,244);
}
.nestled,#site_links a{
	display: inline-block;
	vertical-align: top;
}
.pink{
	color: rgb(255,0,136);
}
#personal_info,.smaller_frame,#profile img{
	border-radius: 0.25em;
}

#title_area,#site_links{
	text-align: center;
}
	h1{
		margin-top: 5%;
		font-size: 20em;
	}
	#personal_info{
		width: 20%;
		margin: 1em auto 1em;
		background-color: rgba(39,40,34,0.2);
	}
		#personal_info h2{
			font-size: 3em;
		}
	#site_links{
		margin-top: 2vh;
	}
		#navbar_me a{
			border-top: solid rgb(38,188,244) 0.0625em;
		}
		#navbar_me a:hover{
			color: rgb(38,188,244);
		}
		#navbar_projects a{
			border-top: solid rgb(255,0,136) 0.0625em;
		}
		#navbar_projects a:hover{
			color: rgb(255,0,136);
		}
		#navbar_links a{
			border-top: solid rgb(127,226,46) 0.0625em;
		}
		#navbar_links a:hover{
			color: rgb(127,226,46);
		}
		#site_links div>h4{
			color: rgb(220,220,220);
		}
		#site_links a{
			height: 1.5em;
			width: 10vw;
			color: white;
			text-decoration: none;
			border-top-left-radius: 0.25em;
			border-top-right-radius: 0.25em;
			background: linear-gradient(rgba(39,40,34,0.2),rgba(39,40,34,0));
		}
		#site_links a:hover{
			background: linear-gradient(rgba(39,40,34,0.8),rgba(39,40,34,0.8)80%,rgba(39,40,34,0.0)100%);
		}

/*PARTIAL STYLING*/
#site_links,#personal_info,#initials{
	-webkit-animation: fade_in 3s;
	animation: fade_in 3s;
}
@-webkit-keyframes fade_in {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes fade_in {
    from {opacity: 0;}
	to {opacity: 1;}
}
	#less_than{
		position: relative;
		-webkit-animation: less_than 3s;
		animation: less_than 3s;
	}
	@-webkit-keyframes less_than {
		from {right: -0.4em;}
		to {right: 0em;}
	}
	@keyframes less_than {
	    from {right: -0.4em;}
		to {right: 0em;}
	}
	#greater_than{
		position: relative;
		-webkit-animation: greater_than 3s;
		animation: greater_than 3s;
	}
	@-webkit-keyframes greater_than {
		from {left: -0.4em;}
		to {left: 0em;}
	}
	@keyframes greater_than {
	    from {left: -0.4em;}
		to {left: 0em;}
	}

.align_center{
	text-align: center;
}

/*FRAME STYLING*/
#partials{
	margin-top: 2vh;
	height: 80vh;
}
	.smaller_frame{
		width: 70%;
		min-height: 80%;
		padding: 1em;
		margin: 5vh auto;
		background-color: rgba(39,40,34,0.9);
	}
	
/*PROFILE STYLING*/
	#profile img{
		float: left;
		margin: 0em 1em 1em 0em;
		width: 20%;
	}
	#profile h3{
		font-size: 3em;
		margin-bottom: 0.25em;
	}
	#profile p{
		font-size: 1.5em;
		margin-bottom: 1em;
	}
/*SKILLS STYLING*/
	#skills p{
		font-size: 2em;
		margin-bottom: 1em;
	}
	#input_text{
		margin-left: 8%;
	}
	#skills input{
		margin: 1em 0em;
	}
	#skills>div{
		width: 25%;
		margin-left: 8%;
		margin-bottom: 1em;
	}
		#skills ul{
			margin-left: 2em;
		}
			#skills li{
				font-size: 1.5em;
			}

/*CONTACT STYLING*/
	#contact p{
		width: 30%;
		font-size: 2em;
		margin: 3% auto;
	}

/*PROJECT STYLING*/
.frame{
	padding: 2em 0.5em;
}
	.left{
		width: 18%;
		height: 100%;
		padding: 0.5em;
	}
		.left h2{
			font-size: 5vw;
			text-align: center;
		}
		.left h3,.centered h3{
			font-size: 2.5vw;
		}
		.left h3{
			border-radius: 0.25em;
			text-align: center;
			background-color: rgb(39,40,34);
		}
		.left h4,.left li{
			font-size: 1.5em;
			margin-bottom: 1em;
		}
	.main{
		width: 70%;
		height: 80vh;
		overflow: hidden;
	}
		.main>img{
			width: 100%;
		}
	.right{
		width: 10%;
	}
		.thumbnail{
			width: 100%;
			height: 10vh;
			margin: 0em 1em 0.25em 0em;
			background-size: 100% auto;
			background-repeat: no-repeat;
			opacity: 0.5;
		}
		.thumbnail:hover{
			opacity: 1;
			cursor: pointer;
		}
		.full_opacity{
			opacity: 1;
		}
	.centered .fine{
		font-size: 1em;
	}
		.centered{
			width: 50%;
			margin: 4em auto;
		}
		.centered ul{
			padding-left: 1.65em;
		}
		.centered li{
			font-size: 1.5em;
		}

/*LAMP STYLING*/
	#lamp_frame{
		background-color: rgb(2,10,36);
	}

/*MEAN STYLING*/
	#mean_frame{
		background-color: rgb(89,166,61);
	}
		#mean_frame *{
			font-family: "Rockwell",serif;
		}
		#mean_frame .left h2{
			font-size: 4vw;
		}

/*RAILS STYLING*/
	#rails_frame{
		background-color: rgb(233,87,63);
	}