<div id="lamp_title_wrapper" class="lamp align_center wrapper">
	<h2><a class="title_link" href="http://sku.ulysseslin.com/" target="_blank">SKU</a></h2>
	<h4>Clothing Ecommerce App<br>
		Colleagues: <a href="https://github.com/Kendallmdalton" target="_blank">Kendall Dalton</a>
		<a href="https://github.com/sarapple" target="_blank">Sara Wong</a><br>
		Used: PHP, Ajax, MySQL, jQuery, Javascript
	</h4>
</div>
<div id="lamp_frame" class="larger_frame lamp">
	<div class="centered">
		<p>Find items by category and purchase them.<br>Track orders, add items, & edit items.</p>
	</div>
	<div class="centered align_center">
		<h3><a href="http://sku.ulysseslin.com/" target="_blank">TRY THE APP HERE.</a></h3>
		<p>Admin account: "admin@admin.com"</p>
		<p>Admin password: "admin"</p>
	</div>
	<div class="centered">
		<p>Personal contributions:</p>
		<p>Products Dashboard</p>
		<p>Add item page (extensive jQuery)</p>
		<p>Edit item page (extensive jQuery)</p>
		<p>Rearrange image order, delete images (extensive jQuery)</p>
		<p>Edit and save text changes to items in MySQL database (extensive jQuery, MySQL)</p>
		<p>Search capabilities (extensive jQuery)</p>
		<p>*NOTE: Photos used are not owned by me. This app is not on the market.</p>
	</div>
	<div class="screenshots align_center">
		<h3>SCREENSHOTS</h3>
		<img src="images/sku_1.png" class="nestled">
		<img src="images/sku_2.png" class="nestled">
		<img src="images/sku_3.png" class="nestled">
		<img src="images/sku_4.png" class="nestled">
		<img src="images/sku_5.png" class="nestled">
		<img src="images/sku_6.png" class="nestled">
	</div>
</div>