<div id="lamp_frame" class="frame" ng-controller="Projects">
	<div class="info_screens">
		<div class="left nestled">
			<h2>SKU</h2>
			<h4>PHP, Ajax, MySQL, jQuery, Javascript</h4>
			<h4>[Clothing Ecommerce App]</h4>
			<h4>Find items by category and purchase them.<br>Track orders, add items, & edit items.</h4>
			<h3><a href="http://sku.ulysseslin.com/" target="_blank">TRY THE APP</a></h3>
			<p>Admin account: "admin@admin.com"</p>
			<p>Admin password: "admin"</p>
		</div>
		<div class="main nestled">
			<img src="images/sku_{{image}}.png">
		</div>
		<div class="right nestled">
			<div class="thumbnail" ng-class="{'full_opacity':n==image}" ng-mouseover="change_image(n)" ng-repeat="n in [0,1,2,3,4,5,6]" ng-style="{'background-image':'url(images/sku_{{n}}.png)'}"></div>
		</div>
	</div>
	<div class="centered">
		<h3>Personal contributions:</h3>
		<ul>
			<li>Products Dashboard</li>
			<li>Add item page (extensive jQuery)</li>
			<li>Edit item page (extensive jQuery)</li>
			<li>Rearrange image order, delete images (extensive jQuery)</li>
			<li>Edit and save text changes to items in MySQL database (extensive jQuery, MySQL)</li>
			<li>Search capabilities (extensive jQuery)</li>
		</ul>
		<p class="fine">*NOTE: Photos used are not owned by me. This app is not on the market.</p>
		<p class="fine">Colleagues:
			<a href="https://github.com/Kendallmdalton" target="_blank">Kendall Dalton</a>
			<a href="https://github.com/sarapple" target="_blank">Sara Wong</a>
		</p>
	</div>
</div>