<div id="mean_title_wrapper" class="mean align_center">
	<h2>MUNCH</h2>
	<h4>Restaurant Management App<br>
		Colleagues: <a href="">Miles Trotter</a>
		<a href="https://github.com/Chrisjag92">Chris Jaglois</a>
	</h4>
	<h4>Used: Javascript, MongoDB + Mongoose, Express.js + Socket.io, Angular.js, Node.js, Responsive Web Design</h4>
</div>
<div id="mean_frame" class="larger_frame mean">
	<div class="centered">
		<p>MUNCH unifies all aspects of restaurant management.<br>Edit the menu, message workers, check tips, change pay, pick up shifts, and more.</p>
	</div>
	<div class="centered">
		<p>Personal contributions:</p>
		<p>Login/Registration & Dashboard pages (extensive jQuery)</p>
		<p>Dashboard messages, specials, & scribbles (Angular.js & Socket.io)</p>
		<p>Profile editing (Angular.js)</p>
		<p>Personnel editing (Angular.js)</p>
		<p>Server-side controller and database management, & account type management (MongoDB + Mongoose)</p>
		<p>*NOTE: Photos used are not owned by me. This app is not on the market.</p>
	</div>
	<div id="rails_screens" class="align_center">
		<h3>SCREENSHOTS</h3>
		<img src="images/munch_1.png" class="nestled">
		<img src="images/munch_2.png" class="nestled">
		<img src="images/munch_3.png" class="nestled">
		<img src="images/munch_4.png" class="nestled">
		<img src="images/munch_5.png" class="nestled">
	</div>
</div>