<div id="mean_frame" class="frame" ng-controller="Projects">
	<div class="info_screens">
		<div class="left nestled">
			<h2>MUNCH</h2>
			<h4>Javascript, MongoDB, Mongoose, Express.js, AngularJS, Node.js, Socket.io, Responsive Web Design</h4>
			<h4>[Restaurant Management App]</h4>
			<h4>MUNCH unifies all aspects of restaurant management.<br>Edit the menu, message workers, check tips, change pay, pick up shifts, and more.</h4>
			<h3><a href="https://munch-portfolio.herokuapp.com/" target="_blank">TRY THE APP</a></h3>
			<p>Admin account: "ders"</p>
			<p>Admin password: "1"</p>
		</div>
		<div class="main nestled">
			<img src="images/munch_{{image}}.png">
		</div>
		<div class="right nestled">
			<div class="thumbnail" ng-class="{'full_opacity':n==image}" ng-mouseover="change_image(n)" ng-repeat="n in [0,1,2,3,4,5]" ng-style="{'background-image':'url(images/munch_{{n}}.png)'}"></div>
		</div>
	</div>
	<div class="centered">
		<h3>Personal contributions:</h3>
		<ul>
			<li>Login/Registration & Dashboard pages (extensive jQuery)</li>
			<li>Dashboard messages, specials, & scribbles (AngularJS & Socket.io)</li>
			<li>Profile editing (AngularJS)</li>
			<li>Personnel editing (AngularJS)</li>
			<li>Server-side controller and database management, & account type management (MongoDB + Mongoose)</li>
		</ul>
		<p class="fine">*NOTE: Photos used are not owned by me. This app is not on the market.</p>
		<p class="fine">Colleagues:
			<a href="https://github.com/milestrotter" target="_blank">Miles Trotter</a>
			<a href="https://github.com/Chrisjag92" target="_blank">Chris Jaglois</a>
		</p>
	</div>
</div>