<div id="rails_title_wrapper" class="rails align_center wrapper">
	<h2><a class="title_link" href="https://make-gem.herokuapp.com/" target="_blank">MAKE</a></h2>
	<h4>Ruby Gem & Demonstration Site<br>
		Colleague: <a href="https://github.com/sarapple" target="_blank">Sara Wong</a><br>
		Used: SQLite, WEBrick, Ruby on Rails
	</h4>
</div>
<div id="rails_frame" class="larger_frame rails">
	<div class="centered">
		<p>MAKE produces tables and forms in Ruby on Rails with just a line of code in your controller, and one in your view.</p>
	</div>
	<div class="centered align_center">
		<h3><a href="https://make-gem.herokuapp.com/" target="_blank">TRY THE GEM HERE.</a></h3>
	</div>
	<div class="centered">
		<p>Personal contributions:</p>
		<p>Splash page and home (extensive jQuery)</p>
		<p>Clickable tree of gem methods (extensive jQuery and Rails)</p>
		<p>Automated table creation based on database content (Rails, SQLite)</p>
	</div>
	<div id="rails_demo" class="align_center">
		<h3>RUNDOWN</h3>
		<p>Why type all this -></p>
		<img src="images/make_1.png">
		<br>
		<p>Or even this -></p>
		<img src="images/make_2.png">
		<p>When all you need is this? -></p>
		<img src="images/make_3.png">
	</div>
	<div class="screenshots align_center">
		<h3>SCREENSHOTS</h3>
		<img src="images/make_4.png" class="nestled">
		<img src="images/make_5.png" class="nestled">
		<img src="images/make_6.png" class="nestled">
	</div>
</div>