<div id="rails_frame" class="larger_frame">
	<h2 class="align_center">MAKE</h2>
	<div id="rails_subtitle">
		<img src="images/gem_icon.png" class="nestled">
		<h4 class="nestled">
			Ruby Gem<br>
			& Demonstration Site<br>
			Used: SQLite, WEBrick, Ruby on Rails<br>
			Colleague: <a href="https://github.com/sarapple">Sara Wong</a>
		</h4>
	</div>
	<h3>VISIT THE SITE: <a href="https://make-gem.herokuapp.com/">Demonstration Site</a></h3>
	<div id="rails_demo" class="align_center">
		<h3>RUNDOWN</h3>
		<p>Why type all this -></p>
		<img src="images/make_1.png">
		<br>
		<p>Or even this -></p>
		<img src="images/make_2.png">
		<p>When all you need is this? -></p>
		<img src="images/make_3.png">
	</div>
	<div class="centered">
		
	</div>
	<div class="centered">
		<p>MAKE produces tables and forms in Ruby on Rails with just a line of code in your controller, and one in your view.</p>
	</div>
	<div id="rails_screens" class="align_center">
		<h3>SCREENSHOTS</h3>
		<img src="images/make_4.png" class="nestled">
		<img src="images/make_5.png" class="nestled">
		<img src="images/make_6.png" class="nestled">
	</div>
</div>