<div id="skills" class="smaller_frame" ng-controller="Skills">
	<p>Favored languages: Javascript, Ruby, PHP</p>
	<input type="text" placeholder="Search" ng-model="search">
	<br>
	<div class="nestled">
		<h2>LAMP</h2>
		<ul>
			<li ng-repeat="lamp in lamp_list | filter:search">{{lamp}}</li>
		</ul>
	</div>
	<div class="nestled">
		<h2>MEAN</h2>
		<ul>
			<li ng-repeat="mean in mean_list | filter:search">{{mean}}</li>
		</ul>
	</div>
	<div class="nestled">
		<h2>RAILS</h2>
		<ul>
			<li ng-repeat="rails in rails_list | filter:search">{{rails}}</li>
		</ul>
	</div>
	<br>
	<div class="nestled">
		<h2>BACK-END</h2>
		<ul>
			<li ng-repeat="back in back_list | filter:search">{{back}}</li>
		</ul>
	</div>
	<div class="nestled">
		<h2>FRONT-END</h2>
		<ul>
			<li ng-repeat="front in front_list | filter:search">{{front}}</li>
		</ul>
	</div>
	<div class="nestled">
		<h2>TOOLS</h2>
		<ul>
			<li ng-repeat="tool in tools_list | filter:search">{{tool}}</li>
		</ul>
	</div>
</div>